<!doctype html>
<html lang="en">

<head>
    {% include "meta.liquid" %}
    <title>(LFE:{{ page.title }})</title>
    <meta name="description" content="{{ page.description }}">

    {% include "favicon.liquid" %}
    {% include "css.liquid" %}
</head>

<body class="dark:bg-slate-900 min-h-[75rem]">
    <header class="top-nav">
    {% include "nav.liquid" %}
    </header>

    <main id="content" role="main">
      <div class="masthead-container">
        <div class="masthead-section">
          {% if page.data.long_title %}<h1>{{ page.data.long_title }}</h1>{% endif %}
          {% if page.data.long_description %}<h2>{{ page.data.long_description }}</h2>{% endif %}
        </div>
      </div>

      <div class="content-section">
        {{ page.content }}
      </div>
    </main>

    {% include "foot.liquid" %}

    {% include "end-scripts.liquid" %}
</body>

</html>
